#para{
    color:red;
    background-color:aqua;
    line-height: 50px;
border: 20px solid black;
}
*{margin:0px; padding:0px;}


#b1{
width:70px; height:70px;
/* text-align: center; */
background-color: rgba(138, 43, 226,0.5);
text-indent: 10;
display:flex;
justify-content: center;
align-items: center;
color:red;
font-size: 20px;
font-weight:700;

padding:30px;
margin:20px;
border:2px dashed brown;
border-radius:10px 20px 15px 40px ;
box-sizing:content-box
}


#box{
    display:flex;
    justify-content:center;
margin-top:150px;
}